.box-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    background-color: var(--bg-secondary);
    align-items: flex-start;
    align-content:flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .75rem;
    border: .25rem solid var(--bg-dark-primary);
}

@media only screen and (min-width: 600px) {
    .box-display {
        padding: 1rem;
    }


}