.box-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    background-color: #2c515a71;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15%;
}