.others-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-secondary);
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .75rem;
    border: .25rem solid var(--bg-dark-primary);
    transition: all 300ms ease;

}

.others-container.on,
.members-container.on {
    border: .25rem solid var(--accent-one);

}

.members-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    background-color: var(--bg-secondary);
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .75rem;
    border: .25rem solid var(--bg-dark-primary);
    transition: all 300ms ease;


}


.members-frame {
    background-color: rgba(164, 157, 157, 0.65);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;

}

.others-frame {
    background-color: rgba(164, 157, 157, 0.65);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;

}

.members-frame.active {
    background-color: rgba(164, 157, 157, 0.85);
    

}

.others-frame.active {
    background-color: rgba(164, 157, 157, 0.85);
    width: 5rem;
    height: 5rem;

}


.members-sprite {
    width: 5rem;
    margin: auto;
    transition: width 200ms ease;

}

.members-frame.active>.members-sprite {
    width: 7rem;
    cursor: pointer;

}

.others-sprite {
    width: 3rem;
    margin: auto;
    transition: width 200ms ease;

}

.others-frame.active>.others-sprite {
    width: 7rem;
    cursor: pointer;

}

.small-banner.first {
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {

    .others-container,
    .members-container {
        padding: 2rem;
    }

    .members-frame{
        width: 8rem;
        height: 8rem;
    }

    .members-sprite {
        width: 7rem;
       
    
    }
    
    .members-frame.active>.members-sprite {
        width: 10rem;
        
    
    }

    .others-frame.active{
        width: 8rem;
    }

    .others-frame.active>.others-sprite {
        width: 10rem;
        
    
    }

}