.team-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
    .team-display {
        max-height: 700px;
    }
}