.show-sprite {
    width: 8rem;
    margin: auto;
    

}

.show-frame {
    background-color: rgba(164, 157, 157, 0.65);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pokemon-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
}

.buttons-display{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    margin-top: 1.5rem;

}

.infobox {
    background-color: var(--bg-secondary);
    border-radius: .75rem;
    border: .25rem solid var(--bg-dark-primary);
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.infobox > div {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}

.infobox > div > p {
    padding: 0;
    margin: 0;
}

.details-display{
    max-width: 768px;
    margin: 0 auto;
}

.details-display > div > form {
    display: flex;
    flex-direction: column;
   align-items: center;


}