.show-sprite {
    width: 6rem;
    margin: auto;
    

}

.show-frame {
    background-color: rgba(164, 157, 157, 0.65);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pokemon-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

.buttons-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;

}

button {
    display: inline-block;
    width: 15ch;

}