.main {
    
    padding: 1rem;
   
    height: 100vh;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.subtitle {
    font-weight: 300;
    margin-top: 0;

}

@media only screen and (min-width: 600px) {
    .main{
        margin-left: 5rem;

    }


}