.main {

    padding: 1rem;
    margin-bottom: 5rem;
    min-height: 100vh;
     /* display: flex;
  flex-direction: column;
  align-items: center; */
   
   
}

.title {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
    line-height: 1.3rem;
}

.subtitle {
    font-weight: 300;
    margin: 0.5rem 0 1rem 0;
    line-height: 1.3rem;
    font-size: .75rem;

}

.page-head {
    background-color: var(--bg-dark-primary);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.small-banner {
    background-color: var(--bg-dark-primary);
    padding: .25rem;
    border-radius: .75rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;

}

.width-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper {
    height: 50vh;
    background-color: white;
}

@media only screen and (min-width: 600px) {
    .main {
        margin-left: 5rem;

    }
    
    .title {
        font-size: 1.75rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }


}