.team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 0 1rem 0;
}

.banner {
    background-color: var(--bg-dark-primary);
    padding: .25rem;
    border-radius: .75rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;

}

.sprite-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    background-color: var(--bg-secondary);
    align-items: flex-start;
    align-content:flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .75rem;
    width: 100%;
    margin-top: .5rem;
    border: .25rem solid var(--bg-dark-primary);
}


.team-card-frame {
    background-color: rgba(164, 157, 157, 0.65);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.team-card-sprite {
    width: 5rem;
    margin: auto;
    transition: width 200ms ease;

}


@media only screen and (min-width: 600px) {
    .sprite-container {
        padding: 2rem;
    }

    .team-card-frame {
        width: 8rem;
        height: 8rem
    }

    .team-card-sprite {
        width: 7rem;
    }

}