
.team-frame {
    background-color: rgba(164, 157, 157, 0.65);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team-frame:hover{
    background-color: rgba(164, 157, 157, 0.85);
    transition: all 200ms ease;

}

.link{
    text-decoration: none;
}

.team-sprite {
    width: 8rem;
    margin: auto;
    transition: width 200ms ease;

}

.team-sprite:hover {
    width: 10rem;
    cursor: pointer;
    
}