*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  font-size: 16px;

  --text-primary: #51f3f1;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #14141B;
  --transition-speed: 400ms;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  color: black;
  background-color: #4B8592;  
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;

}

body::-webkit-scrollbar-thumb{
  background: #6649b8;
}