@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

*{
  box-sizing: border-box;
  
}

:root {

  --accent-one: #499E7F;
  --accent-two: #E33917;
  --text-primary: #ececec;
  --bg-primary: #4B8592;
  --bg-secondary: #3D6D78;
  --bg-dark-primary: #23232e;
  --bg-dark-secondary: #14141B;
  --transition-speed: 400ms;

  font-family: 'Tomorrow', sans-serif;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  */
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);  
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;

}

body::-webkit-scrollbar-thumb{
  background: #6649b8;
}

button {
  display: inline-block;
  width: 12ch;
  margin: .5rem;

}

button,
input,
textarea,
select {
  font: inherit;
}